{
  "parser": "@typescript-eslint/parser",
  "extends": ["prettier", "prettier/@typescript-eslint"],
  "plugins": ["prettier", "@typescript-eslint", "import"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts"]
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  }
}
